@model UserRowViewModel
<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Company</td>
    <td>@Model.Active</td>
    <td>
        <a asp-action="EditUser" asp-route-id="@Model.Id">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
    </td>
</tr>    