@model CompositeUserPagedModel
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h4>User List</h4>

            <div class="table-reponsive">

                <table id="tblUsers" class="table table-bordered table-stripped">
                    <thead>
                        <th>
                            <a asp-action="UserList" 
                            asp-route-sortBy="@ViewData["FirstNameSort"]">First Name</a>
                        </th>
                        <th>
                            <a asp-action="UserList"
                            asp-route-sortBy="@ViewData["LastNameSort"]">Last Name</a>
                        </th>
                        <th>
                            <a asp-action="UserList"
                            asp-route-sortBy="@ViewData["CompanySort"]">Company</a>    
                        </th>
                        <th>
                            <a asp-action="UserList"
                            asp-route-sortBy="@ViewData["ActiveSort"]">Active</a>
                        </th>
                        <th>Edit</th>
                    </thead>
                    <tbody>
                        @foreach(var usrItem in Model.UserRowList)
                        {
                            @Html.Partial("_UserRow",usrItem);
                        }
                    </tbody>    
                        
                </table>                
            </div> 
            @Html.Partial("_pagerPartial",Model.PaginationInfo)            
        </div>    

    </div>    
</div>    